@page
@using Microsoft.Extensions.Localization
@using Bamboo.Attendance.Localization
@model Bamboo.Attendance.Web.Pages.Attendance.IndexModel
@inject IStringLocalizer<AttendanceResource> L
@{
}
<h1>Attendance</h1>
<p>@L["SamplePageMessage"]</p>
