@page "/Attendance"
@using Microsoft.Extensions.Localization
@using global::Bamboo.Attendance.Localization
@inject IStringLocalizer<AttendanceResource> L
@{
}
<h1>Attendance</h1>
<p>@L["SamplePageMessage"]</p>