@page
@using Microsoft.Extensions.Localization
@using Bamboo.Sales.Localization
@model Bamboo.Sales.Web.Pages.Sales.IndexModel
@inject IStringLocalizer<SalesResource> L
@{
}
<h1>Sales</h1>
<p>@L["SamplePageMessage"]</p>
