@page
@using Microsoft.Extensions.Localization
@using Bamboo.Employee.Localization
@model Bamboo.Employee.Web.Pages.Employee.IndexModel
@inject IStringLocalizer<EmployeeResource> L
@{
}
<h1>Employee</h1>
<p>@L["SamplePageMessage"]</p>
