@page
@using Microsoft.Extensions.Localization
@using Bamboo.CRM.Localization
@model Bamboo.CRM.Web.Pages.CRM.IndexModel
@inject IStringLocalizer<CRMResource> L
@{
}
<h1>CRM</h1>
<p>@L["SamplePageMessage"]</p>
