@page
@using Microsoft.Extensions.Localization
@using Bamboo.Core.Localization
@using Bamboo.Core.Web.Pages.Core
@model Bamboo.Core.Web.Pages.Core.IndexModel
@inject IStringLocalizer<CoreResource> L

@{
}
<h1>Core</h1>
<p>@L["SamplePageMessage"]</p>
