@page "/Employee"
@using Microsoft.Extensions.Localization
@using global::Bamboo.Employee.Localization
@inject IStringLocalizer<EmployeeResource> L
@{
}
<h1>Employee</h1>
<p>@L["SamplePageMessage"]</p>