@page
@using Microsoft.Extensions.Localization
@using Bamboo.Product.Localization
@model Bamboo.Product.Web.Pages.Product.IndexModel
@inject IStringLocalizer<ProductResource> L
@{
}
<h1>Product</h1>
<p>@L["SamplePageMessage"]</p>
