@page
@using Microsoft.Extensions.Localization
@using Bamboo.Account.Localization
@model Bamboo.Account.Web.Pages.Account.IndexModel
@inject IStringLocalizer<AccountResource> L
@{
}
<h1>Account</h1>
<p>@L["SamplePageMessage"]</p>
