@page
@using Microsoft.Extensions.Localization
@using Bamboo.Stock.Localization
@model Bamboo.Stock.Web.Pages.Stock.IndexModel
@inject IStringLocalizer<StockResource> L
@{
}
<h1>Stock</h1>
<p>@L["SamplePageMessage"]</p>
